.popover{
    max-width: 100% !important;
}

.guesses {
  overflow-y: scroll;
  max-height: 100vh;
}

.buckets {
  overflow-y: scroll;
  max-height: 50vh;
}

.six-code-guesses, .three-code-buckets, .description {
  overflow-y: scroll;
  height: 100px;
}

.database{
  background: #F5F5F5;
  font-size: 12px;
}

.score {
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
}
