<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Radius Classifier</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/extra.css') }}">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <div class="row">
            <div class="col-xs-12 buckets">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Name</th>
                      <td>{{business['name']}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Type</th>
                      <td>{{business_type}}</td>
                    </tr>
                    <tr>
                      <th scope="row">Description</th>
                      <td>{{business['description']}}</td>
                    </tr>
                    <tr>
                      <th scope="row">id</th>
                      <td>{{business['unique_id']}}</td>
                    </tr>
                    {% for website in business['website'] %}
                    <tr>
                      <th scope="row">Website</th>
                      <td><a href="{{website}}">{{website}}</a></td>
                     </tr>
                    {% endfor %}
                    <tr>
                      <th scope="row">Address</th>
                      <td>{{business['address']}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 buckets">
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th></th>
                    <th>Code</th>
                    <th>Score</th>
                  </tr>
                </thead>
                <tbody>
                  {% for code in code_list %}
                  <tr>
                    <td>
                      <form  method="post" action="/c/{{business['unique_id']}}/{{code[0]}}">
                        <button type="submit" class="btn btn-success">
                          <span class="glyphicon glyphicon-ok"></span>
                        </button>
                      </form>
                    </td>
                    <td>{{code[0]}}</td>
                    <td>{{code[1]}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xs-8 guesses">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Score</th>
                <th>Code</th>
                <th>Title</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for guess in guesses %}
              <tr>
                <td>
                  <form  method="post" action="/c/{{business['unique_id']}}/{{guess[1]['code']}}">
                    <button type="submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok"></span>
                    </button>
                  </form>
                </td>
                <td>{{guess[0]}}</td>
                <td>{{guess[1]['code']}}</td>
                <td>{{guess[1]['title']}}</td>
                <td>
                  <button type="button" class="btn btn-info" data-toggle="popover" data-placement="bottom" data-container="body" data-content="{{guess[1]['description']}}">
                      Description
                  </button>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- </div> -->
        </div>
      </div>
      </div> <!-- /container -->
    </body>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{{ url_for('static', filename='extra/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
    </script>
</html>
